@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slidein {
    animation: slidein 0.5s ease;
    transform-origin: top;
  }

  .transition-font-size {
    transition: 0.2s font-size;
  }

  /* Fix disabled buttons in dark mode. */
  :root,
  [data-theme="light"] {
    --app-btn-disabled-bg-opacity: 0.2;
    --app-btn-disabled-text-opacity: 0.2;
    --app-card-bg: var(--fallback-b1, oklch(var(--b1) / 1));
    --app-card-text: inherit;
  }

  [data-theme="dark"] {
    --app-btn-disabled-bg-opacity: 1;
    --app-btn-disabled-text-opacity: 0.6;
    --app-card-bg: var(--fallback-n, oklch(var(--n) / 1));
    --app-card-text: var(
      --fallback-nc,
      oklch(var(--nc) / var(--tw-text-opacity))
    );
  }

  @media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
      --app-btn-disabled-bg-opacity: 1;
      --app-btn-disabled-text-opacity: 0.5;
      --app-card-bg: var(--fallback-n, oklch(var(--n) / 1));
      --app-card-text: var(
        --fallback-nc,
        oklch(var(--nc) / var(--tw-text-opacity))
      );
    }
  }

  .btn.btn-disabled,
  .btn[disabled],
  .btn:disabled {
    --tw-bg-opacity: var(--app-btn-disabled-bg-opacity);
    --tw-text-opacity: var(--app-btn-disabled-text-opacity);
  }

  /* Fix cards in dark mode. */
  .card {
    background-color: var(--app-card-bg);
    color: var(--app-card-text);
  }
}

html,
body,
#app {
  height: 100%;
}

:root.disable-animation {
  &,
  *,
  ::before,
  ::after {
    animation: none !important;
    transition: none !important;
  }
}

:root.disable-rounded-corners {
  *,
  ::before,
  ::after {
    border-radius: 0 !important;
  }
}

:root.disable-shadows {
  *,
  ::before,
  ::after {
    box-shadow: none !important;
  }
}

:root.disable-scroll-stick .sticky {
  position: static !important;
}

@keyframes slidein {
  0% {
    transform: scaleY(0);
  }

  40% {
    transform: scaleY(1.02);
  }

  100% {
    transform: scaleY(1);
  }
}
